@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        --light_background: #585858;
        --background: #404040;
        --accent: #2CCDB2;
        --text_general: #EBEBEB;
    }
}